
#navbar ul li{
    list-style-type:none;
    display:inline-block;
    font-size:33px;
    padding: 2%;
    margin-left:15%;

}

#navbar ul li:hover{
    text-decoration: underline;
    cursor:pointer;
}

#navbar{
    background-color:#bd8c7d;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
   font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.icons{
    margin-left:28%;
}

.navlink{
    color:white;
}

#formEntry, #flightTimes{
    position:absolute;
    left:10%;
    top:0%;
    width:80%;
    color:white;
     font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    z-index:2;
}

#flightTimes, #hotels{
    background-color:white;
    color:black;
    font-size:16px;
    padding:1%;
    position:absolute;
    top:10%;
    max-height:400px;
    overflow:scroll;
    display:none;
}

select, option{
 font-family: "Afacad Flux", sans-serif;
     font-size:15px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.startDate{
  position:absolute;
    top:95%;
}
#container{
    width:100%;
    height:auto;
}

.endDate{
    width:8%;
    position:absolute;
    right:42%;
    top:95%;
}

.startDate1{
  position:absolute;
    top:92%;
}

.endDate1{
    width:8%;
    position:absolute;
    right:32%;
    top:92%;
}

#edText{
    position:absolute;
    left:34%;
    top:74%;
    font-size:20px;
}

#sdText{
 font-size:20px;
}

#bg{
    width:100%;
    position:absolute;
    left:0;
    height:80%;
}

#sendData{
    position:absolute;
    right:8.5%;
    top:63%;
    width:20%;
    color:white;
    font-size:40px;
    border:2px solid white;
    background-color:#1899D6;
}

#formEntry p{
    font-size:22px;

}

#openCart{
    z-index:10;
    position:absolute;
    right:2%;
    top:5%;
    color:white;
    background-color: #1899D6;
    border:none;
    font-size:30px;
    font-weight: bold;
    padding:1%;
    cursor:pointer;
}

#reviewForm{
    display:none;
    position:absolute;
    top:12%;
    left:30%;
    padding:2%;
    width:34%;
    background-color: white;
    font-size:20px;
}

#reviewForm button{
    font-size:20px;
}

#reviewForm textarea{
    width:80%;
    height:40%;
    font-size:20px;
}

#sendData:hover{
    cursor:pointer;
}

#loadingScreen, .spin{
   color:white;
}

.spin{
    font-size:40px;
}
#loadingScreen, #loadingScreenHotels{
    position:absolute;
    top:30%;
    left:35%;
    font-size:40px;
    padding:1%;

    color:white;
    background-color: #1899D6;
    display:none;
}
#addOptions, #preferences{
    position:absolute;
    right:2%;
    top:30%;
    padding:1%;
    width:30%;
    color:white;
    font-size:30px;
    background-color:#1899D6;
}

#addOptions{
    top:32%;
    padding:2%;
}

#option1, #option2, #departing, #dest{
    font-size:18px;
}

.dateError, .hotelError, .fieldError, .dateError2, .fieldErrorF,
.dateErrorF, .guestError{
    display:none;
    width:30%;
    position:absolute;
    right:2%;

}

#cartPane{
    position:absolute;
    right:0;
    bottom:0;
    display:none;
    top:0;
    background:white;
    color:lightgray;
    width:20%;
    padding:1%;
    z-index:5;
}

#leaveR, #sBookings{
    cursor:pointer;
    position: absolute;
    background-color:white;
    padding:1%;
}

#sBookings{
    position: absolute;
    left:22%;

}

#leaveR{
    position:absolute;
    left:3%;
}

#profileBg{
    width:100%;
    height:86%;
    top:0;
    position: absolute;
}

#signUp, #signIn{
    position:absolute;
    top:28%;
    left:37%;
    font-size:20px;
    background-color: white;
    padding:1.5%;
    width:25%;
    font-family: din-round,sans-serif;
    z-index:10;
}

.signInImage{
    width:100%;
    height:100%;
    position: absolute;
}

#signUp input, #signIn input{
    font-size:25px;
    width:78%;
    background-color: white;
    border:none;
    border-bottom: 2px solid black;
    color:black;
}

input:focus{
    border:none;
}

.button-19 {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

#reviewsSection{
    display:none;
      z-index:10;
    background-color:white;
    position:absolute;
    bottom:22%;
    left:22%;
    padding:1%;
    max-height:500px;
    overflow-y: scroll;
}

#bookingDisplay{
    z-index:10;
    background-color:white;
    position:absolute;
    left:22%;
    top:20%;
    padding:1%;
    max-height:500px;
    overflow-y: scroll;
}

#reviewData{
    display:none;
}

#holidays{
    font-size:15px;
}

.backArrow{
    transform: rotate(180deg);
}


#bookingDisplay{
    display:none;
}
